* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-h: rgba(10, 9, 9, 0.651);
  --color-p: hsl(213, 5%, 67%);
  --button-ios: hsl(171, 66%, 44%);
  --button-mac: hsl(233, 100%, 69%);
  --color-foter: hsl(0, 0%, 77%);

  --font-size: .8rem;
  --font-figurcaption: 1.3rem;


}

body {
  font-family: "Bai Jamjuree", sans-serif;

}

.headerImg {
  width: 100%;
  background-size: cover;
  position: relative;
}

.heardeLogo {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* flex-wrap: nowrap; */
}

header>h1,
p,
button {
  margin-bottom: 20px;
}



h1 {
  color: var(--color-h);
}

p {
  font-size: var(--font-size);
  color: var(--color-p);
  margin-top: 10px;

}

.buttons-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 30px;
}

.button {
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  gap: 30px;
}

.ios {
  border-radius: 15px;
  padding: 10px;
  background-color: var(--button-ios);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  color: white;
  cursor: pointer;
}

.mac {
  border-radius: 15px;
  padding: 10px;
  background-color: var(--button-mac);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  color: white;
  cursor: pointer;
}


.headerContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  /* position: absolute; */
  top: 20px;
  /* padding: 50px 0px; */
  color: white;
}

.features {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  padding-bottom: 30px;
}

.features>h2 {
  top: 20px;
  padding-top: 50px;
  padding-bottom: 10px;
  color: var(--color-h);
}

.features>p {
  font-size: var(--font-size);
  color: var(--color-p);
}

.details {
  padding-bottom: 30px;
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.details>img {
  display: flex;
  justify-content: left;
  width: 50%;
}

.details>.details-contaner {
  flex: 1;
  padding-left: 100px;
  display: flex;
  flex-direction: column;
  width: 400px;
  text-align: left;
  justify-content: space-around;
  gap: 20px;
}

.details-contaner>h2 {
  color: var(--color-h);
}

.details-contaner>p {
  font-size: var(--font-size);
  color: var(--color-p);
}

.access>.access-details {
  display: flex;
  justify-content: center;
  flex-direction: column;

  gap: 10px;
  margin-bottom: 30px;
}

.access>.access-details>h2 {
  color: var(--color-h);

  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  text-align: center;

}

.access>.access-details>p {
  font-size: var(--font-size);
  color: var(--color-p);
  text-align: center;
  margin-bottom: 20px;

}

.access-img {
  display: block;
  margin: auto;
  gap: 10px;
  margin-bottom: 30px;

}

.toolspart {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}

.toolspart h2 {
  color: var(--color-h);
}

.toolitem {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-bottom: 70px;
}

.toolicon {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 10px;
}

.toolicon p {
  font-size: var(--font-size);
  color: var(--color-p);
}

.toolicon figcaption {
  font-size: var(--font-figurcaption);
  color: var(--color-h);
}

.imgicon {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 60px;
  margin-bottom: 80px;
}

.Clipboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 20px;
}

.Clipboard .button {
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  gap: 30px;

}

.Clipboard .Ios {
  border-radius: 15px;
  padding: 10px 10px;
  background-color: var(--button-ios);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  color: white;
  cursor: pointer;

}

.Clipboard .mac {
  border-radius: 15px;
  padding: 10px 10px;
  background-color: var(--button-mac);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  color: white;
  cursor: pointer;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding: 20px 30px;
  background-color: var(--color-foter);
  color: white;
  margin-top: 10px;
  font-size: var(--font-size);
  width: 100%;
}

footer svg {
  width: 150px;
  height: auto;
}

footer ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.social-media {
  display: flex;
  gap: 20px;
}

@media (max-width: 1024px) {
  body {
    font-size: 0.8rem;
  }

  .headerImg {
    width: 100%;
  }

  .toolspart {
    gap: 10px;
    margin-bottom: 15px;
    padding: 0;
  }

  .access-img {
    gap: 10px;
    margin-bottom: 15px;
    padding: 0;
    width: 80%;
    display: block;
    margin: auto;
  }

  .imgicon {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    gap: 30px;
    padding: 0;
  }

  .imgicon img {
    width: 45%;
    max-width: 200px;
  }

  .Clipboard {
    gap: 10px;
    margin-bottom: 10px;
    padding: 0;
  }

  footer {
    flex-direction: row;
    gap: 20px;
    padding: 15px;
    font-size: 1rem;
    text-align: center;
    width: 100%;
  }

  footer ul {
    flex-direction: row;
    gap: 10px;
  }

  footer ul li {
    margin-bottom: 5px;
  }

  footer svg {
    width: 140px;
  }
}


@media (max-width: 768px) {
  body {
    font-size: .5rem;
  }

  h1 {
    font-size: 2rem;
  }

  .headerImg {
    width: 150%;
  }

  .toolspart {
    gap: 5px;
    margin-bottom: 5px;
    padding: 0;
    margin-bottom: 10px;
  }

  .access-img {
    gap: 5px;
    margin-bottom: 5px;
    padding: 0;
    margin-bottom: 10px;
    width: 80%;
  }

  .imgicon {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-direction: row;
    gap: 15px;
    padding: 0;
    margin-bottom: 20px;
  }



  .imgicon img {
    width: 80%;
    max-width: 200px;
  }



  .Clipboard {
    gap: 5px;
    margin-bottom: 5px;
    padding: 0;
    margin-bottom: 10px;
  }

  footer {
    flex-direction: column;
    gap: 15px;
    padding: 10px;
    font-size: 1rem;
    text-align: center;
    width: 100%;
  }
}

@media(max-width:426px) {
  body {
    font-size: 1rem;
  }



  h1 {
    font-size: 1rem;
  }

  h2 {
    font-size: 1rem;
  }

  .ios {
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .mac {
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .details {
    gap: 2px;
    margin-bottom: 2px;
    padding: 0;
    margin-bottom: 5px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .access-img {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    margin-bottom: 5px;
    padding: 0;
    margin-bottom: 10px;
  }

  .toolspart h2 {
    font-size: 1rem;
    margin-top: 5px;

  }

  .toolitem {
    gap: 5px;
    margin-bottom: 5px;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

  }

  .imgicon {
    gap: 15px;
    margin-bottom: 10px;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .Clipboard h2 {
    font-size: 1rem;
    margin-top: 5px;
  }

  .button {
    margin-top: 5px;
    gap: 5px;
    margin-bottom: 5px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;


  }

  .Ios {
    margin-bottom: 0;
  }

  footer {
    font-size: .5rem;
    padding: 200px;
    margin-top: 0;
  }


  footer ul {
    gap: 5px;
  }

  footer svg {
    width: 100%px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
  }

  footer ul {
    flex-direction: column;
    gap: 5px;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1rem;

  }

  footer ul li {
    margin-bottom: 5px;
  }

  footer ul li a {
    font-size: .5rem;
  }

}

@media (max-width:1440px) {
  body {
    font-size: 1.5rem;
  }
}